<html class=" js csstransforms3d js csstransforms3d js csstransforms3d"><head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>客服</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/page.css">
	<!--[if lte IE 8]>
	<link href="css/ie8.css" rel="stylesheet" type="text/css"/>
	<![endif]-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<!--[if IE]>
	<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>

<body style="background: #f6f5fa;">

	<!--content S-->
	<div class="super-content RightMain" id="RightMain">
		
		<!--header-->
		<div class="superCtab">
			<div class="tp-title clearfix">
				<h3>客服管理</h3>
				
			</div>
			
			<div class="ctab-Main">
				<div class="ctab-Main-title">
					<ul class="clearfix">
						<li class="cur"><a href="tupian_yd_index.html">客服管理</a></li>
						<li><a href="tupian_yd_jzg.html">聊天记录管理</a></li>
						
					</ul>
				</div>
				
				<div class="ctab-Mian-cont">
					<div class="Mian-cont-btn tp-cnt-btn clearfix">
						
						<div class="operateBtn">
							<a href="javascript:;" class="greenbtn add sp-photo">添加客服<input id="fileImage" class="fileImgtp" type="file" size="30" name="fileselect[]" multiple/></a>
						</div>
					</div>
					
					<div class="xc-all-box clearfix">
					<!--客服-->



						<div id="preview"></div>
					</div>
					
					<!--pages S-->
					<div class="pageSelect">
						<div class="pageWrap">
							<a class="pagePre"><i class="ico-pre">&nbsp;</i></a>
							<a href="#" class="pagenumb cur">1</a>
							<a href="#" class="pagenumb">2</a>
							<a href="#" class="pagenumb">3</a>
							<a href="#" class="pagenext"><i class="ico-next">&nbsp;</i></a>
						</div>
					</div>
					<!--pages E-->
				</div>
			</div>
		</div>
		<!--main-->
		
	</div>
	<!--content E-->
	
	<div class="layuiBg"></div><!--公共遮罩-->
	<!--栏目管理-->
	<div class="Columnbox layuiBox">
		<div class="layer-title clearfix"><h2>自定义栏目名称</h2><span class="layerClose"></span></div>
		<div class="layer-content">
			<ul class="colu-title clearfix">
				<li class="li-1">栏目名称</li><li class="li-2">英文名称</li><li class="li-3">操作</li><li class="li-4">同步开关</li>
			</ul>
			<div class="colu-list">
				<ul class="colu-cont clearfix active">
					<li class="li-1">首页通栏</li><li class="li-2">life</li><li class="li-3"><a href="javascript:;" class="colu-xg">修改</a></li><li class="li-4"><input type="checkbox" id="checkbox_d_1" class="chk_4"><label for="checkbox_d_1"></label></li>
				</ul>
			</div><!--首页通栏-->
			<div class="colu-list">
				<ul class="colu-cont clearfix">
					<li class="li-1">价值观</li><li class="li-2">values</li><li class="li-3"><a href="javascript:;" class="colu-xg">修改</a></li><li class="li-4"><input type="checkbox" id="checkbox_d_2" class="chk_4"><label for="checkbox_d_2"></label></li>
				</ul>
			</div><!--价值观-->
			<div class="colu-list">
				<ul class="colu-cont clearfix">
					<li class="li-1">团队风采</li><li class="li-2">about</li><li class="li-3"><a href="javascript:;" class="colu-xg">修改</a></li><li class="li-4"><input type="checkbox" id="checkbox_d_3" class="chk_4"><label for="checkbox_d_3" checked=""></label></li>
				</ul>
			</div><!--团队风采-->
			<div class="colu-list">
				<ul class="colu-cont clearfix">
					<li class="li-1">热门产品</li><li class="li-2">products</li><li class="li-3"><a href="javascript:;" class="colu-xg">修改</a></li><li class="li-4"><input type="checkbox" id="checkbox_d_4" class="chk_4" checked=""><label for="checkbox_d_4"></label></li>
				</ul>
			</div><!--热门产品-->
			<div class="colu-list">
				<ul class="colu-cont clearfix">
					<li class="li-1">卓越联盟</li><li class="li-2">aliance</li><li class="li-3"><a href="javascript:;" class="colu-xg">修改</a></li><li class="li-4"><input type="checkbox" id="checkbox_d_5" class="chk_4" checked=""><label for="checkbox_d_5"></label></li>
				</ul>
			</div><!--卓越联盟-->
			<div class="colu-list">
				<ul class="colu-cont clearfix">
					<li class="li-1">友情链接</li><li class="li-2">diaplsy</li><li class="li-3"><a href="javascript:;" class="colu-xg">修改</a></li><li class="li-4"><input type="checkbox" id="checkbox_d_6" class="chk_4"><label for="checkbox_d_6"></label></li>
				</ul>
			</div><!--友情链接-->
			<div class="colu-list">
				<ul class="colu-cont clearfix">
					<li class="li-1">快捷分类</li><li class="li-2">link</li><li class="li-3"><a href="javascript:;" class="colu-xg">修改</a></li><li class="li-4"><input type="checkbox" id="checkbox_d_7" class="chk_4"><label for="checkbox_d_7"></label></li>
				</ul>
			</div><!--快捷分类-->
			
		</div>
	</div>
	<!--栏目管理－修改-->
	<div class="ColumnXgbox layuiBox">
		<div class="layer-title clearfix"><h2>修改栏目名称</h2><span class="layerClose"></span></div>
		<div class="layer-content">
			<div class="aFllink clearfix"><span>栏目名称：</span><input type="text" value=""></div>
			<div class="aFllink clearfix"><span>英文名称：</span><input type="text" value=""></div>
			<div class="aFllink clearfix"><span>同步开关：</span>
				<div class="kg">
					<ul>
						<li><input type="checkbox" id="checkbox_d_xg_1" class="chk_4"><label for="checkbox_d_xg_1"></label></li>
						<li><input type="checkbox" id="checkbox_d_xg_2" class="chk_4" checked=""><label for="checkbox_d_xg_2"></label></li>
					</ul>
				</div>				
			</div>
			<div class="aFlBtn"><input type="button" value="保存" class="saveBtn"></div>
		</div>
	</div>


<script>

	var item = '<div class="xc-list tp-list"><div class="img"><a href="#"><img  src="${head}" class="upload_image"/></a></div>'+
						'<div class="input">'+
							'<div class="info clearfix"><h3>客服工号</h3></div>'+'<input type="text" class="txt txtbiaoti"  value="${num}"/>'+
							'<div class="info clearfix"><h3>客服名称</h3></div>'+'<input type="text" class="txt txtbiaoti" value="${name}" />'+
							'<div class="info clearfix"><h3>工作日</h3></div>'+'<input type="text" class="txt txtbiaoti" value="${weekdays}" />'+
							'<div class="info clearfix"><h3>工作时间</h3></div>'+'<input type="time" class="txt" style="width:45%" value="${time1}" />'+'-'+'<input type="time" class="txt" style="width:45%" value="${time2}"/>'+
						'</div>'+
						'<div class="btn clearfix"><a href="#" class="xc-bc-a" onclick="save(this)">保存</a><a href="#" class="xc-delete-a upload_delete" href="javascript:" title="删除" >删除</a></div>' +
				'</div>';


	function setPage(pageNum,pageSize){
		$.ajax({
                url:'/cs/getPage?pageNum='+pageNum+'&pageSize='+pageSize,
                type:"GET",
                contentType:false,
                success:function(data){
                    var node = $("#preview");
                    for(var i=0;i<data.length;i++){
                    	appendItem(node,data[i]);
                    }
                },
                error:function(e){
                    alert("错误！！");
                    window.clearInterval(timer);
                }
            });
	}

	function appendItem(domNode,obj){
		var toAppend = item;
		toAppend = toAppend.replace("${num}",obj.num);
		toAppend = toAppend.replace("${name}",obj.name);
		toAppend = toAppend.replace("${weekdays}",obj.weekday);
		time12 = obj.time.split('-');
		toAppend = toAppend.replace("${time1}",time12[0]);
		toAppend = toAppend.replace("${time2}",time12[1]);
		toAppend = toAppend.replace("${head}","/head/"+obj.num+"jpg");
		$('#preview').append(toAppend);
	}

	function save(ele){
		ele = $(ele)
		var form = new FormData();
        form.append('file',$("#fileImage")[0].files[0])
		form.append('num',ele.parent().prev().children()[1].value)
		form.append('name',ele.parent().prev().children()[3].value)
		form.append('weekdays',ele.parent().prev().children()[5].value)
		form.append('time',ele.parent().prev().children()[7].value+ele.parent().prev().children()[8].value)

		<!--file = $("#fileImage")[0].files[0]-->
		<!--var reg = /^(\d[,])*(\d)$/;-->
		<!--if(num==""){-->
			<!--alert("工号不能为空");-->
			<!--return-->
		<!--}-->
		<!--if(name==""){-->
			<!--alert("姓名不能为空");-->
			<!--return-->
		<!--}-->

		<!--if(weekdays == ""){-->
			<!--alert("请指定工作日，若没有则填0")-->
			<!--return-->
		<!--}else{-->
			<!--if(!reg.exec(weekdays)){-->
				<!--alert("工作日的格式要为使用逗号分隔的数字")-->
				<!--return-->
			<!--}-->
		<!--}-->

		<!--if(time1=="&#45;&#45;:&#45;&#45;"){-->
			<!--alert("请指定工作开始时间")-->
			<!--return-->
		<!--}-->
		<!--if(time2=="&#45;&#45;:&#45;&#45;"){-->
			<!--alert("请指定工作结束时间")-->
			<!--return-->
		<!--}-->

		$.ajax({
                url:"/cs/create",
                type:"POST",
                data:form,
                cache:false,
                processData:false,
                contentType:false,
                success:function(data){
                    paths=data
                   alert("成功上传")

                },
                error:function(e){
                    alert("错误！！");
                    window.clearInterval(timer);
                }
            });

	}
</script>
<script>
	setPage(1,3);
</script>

<script type="text/javascript" src="js/zxxFile.js"></script>
<script>
var params = {
	fileInput: $("#fileImage").get(0),
	upButton: $("#fileSubmit").get(0),
	url: $("#uploadForm").attr("action"),
	filter: function(files) {
		var arrFiles = [];
		for (var i = 0, file; file = files[i]; i++) {
			if (file.type.indexOf("image") == 0) {
				if (file.size >= 512000) {
					alert('您这张"'+ file.name +'"图片大小过大，应小于500k');	
				} else {
					arrFiles.push(file);	
				}			
			} else {
				alert('文件"' + file.name + '"不是图片。');	
			}
		}
		return arrFiles;
	},
	onSelect: function(files) {
		var html = '', i = 0;
		$("#preview").html('<div class="upload_loading"></div>');
		var funAppendImage = function() {
			file = files[i];
			if (file) {
				var reader = new FileReader()
				reader.onload = function(e) {
					html = html + '<div class="xc-list tp-list"><div class="img"><a href="#"><img id="uploadImage_' + i + '" src="' + e.target.result + '" class="upload_image"/></a></div>'+
						'<div class="input">'+
							'<div class="info clearfix"><h3>客服工号</h3></div>'+'<input type="text" class="txt txtbiaoti" value="" />'+
							'<div class="info clearfix"><h3>客服名称</h3></div>'+'<input type="text" class="txt txtbiaoti" value="' + file.name + '" />'+
							'<div class="info clearfix"><h3>工作日</h3></div>'+'<input type="text" class="txt txtbiaoti" value="" />'+
							'<div class="info clearfix"><h3>工作时间</h3></div>'+'<input type="time" class="txt" style="width:45%"/>'+'-'+'<input type="time" class="txt" style="width:45%"/>'+
						'</div>'+
						'<div class="btn clearfix"><a href="#" class="xc-bc-a" onclick="save(this)">保存</a><a href="#" class="xc-delete-a upload_delete" href="javascript:" title="删除" data-index="'+ i +'">删除</a></div>' +
					'</div>';
					i++;
					funAppendImage();
					
					$(".xc-delete-a").click(function() {
						$(this).parent().parent().remove();
					});
				}
				reader.readAsDataURL(file);
			} else {
				$("#preview").html(html);
				if (html) {
					//删除方法
					$(".xc-delete-a").click(function() {
						ZXXFILE.funDeleteFile(files[parseInt($(this).attr("data-index"))]);
						return false;	
					});
					//提交按钮显示
					$("#fileSubmit").show();	
				} else {
					//提交按钮隐藏
					$("#fileSubmit").hide();	
				}
			}
		};
		funAppendImage();		
	},
	onDelete: function(file) {
		$("#uploadList_" + file.index).fadeOut();
	},
	onDragOver: function() {
		$(this).addClass("upload_drag_hover");
	},
	onDragLeave: function() {
		$(this).removeClass("upload_drag_hover");
	},
	onProgress: function(file, loaded, total) {
		var eleProgress = $("#uploadProgress_" + file.index), percent = (loaded / total * 100).toFixed(2) + '%';
		eleProgress.show().html(percent);
	},
	onSuccess: function(file, response) {
		$("#uploadInf").append("<p>上传成功，图片地址是：" + response + "</p>");
	},
	onFailure: function(file) {
		$("#uploadInf").append("<p>图片" + file.name + "上传失败！</p>");	
		$("#uploadImage_" + file.index).css("opacity", 0.2);
	},
	onComplete: function() {
		//提交按钮隐藏
		$("#fileSubmit").hide();
		//file控件value置空
		$("#fileImage").val("");
		$("#uploadInf").append("<p>当前图片全部上传完毕，可继续添加上传。</p>");
	}
};
ZXXFILE = $.extend(ZXXFILE, params);
ZXXFILE.init();




</script>

</body></html>