
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>用户登录</title>
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/login.css" />
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="superlogin"></div>
<div class="loginBox">
	<div class="logo"><span style="font-size:25px; color: #FFF">&nbsp;&nbsp;&nbsp;客服咨询平台</span></div>
	<div class="loginMain">
		<div class="tabwrap">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr><td class="title">用户名：</td><td><input id="name" type="text" class="form-control txt" /></td></tr>
			<tr><td class="title">密   码：</td><td><input id="password" type="password" class="form-control txt" /></td></tr>
			<tr class="errortd"><td>&nbsp;</td><td><i class="ico-error"></i><span id="tishi" class="errorword"></span></td></tr>		
			<tr><td>&nbsp;</td><td><input type="button" class="loginbtn" value="登录" onclick="login()"/><input type="button" class="resetbtn" value="重置" onclick="location.href='loginA.html'"/></td></tr>		
			<tr><td>&nbsp;</td><td class="forgetpsw"><a href="login_forgetb.html">忘记密码？</a></td></tr>	
		</table>
		</div>
	</div>
</div>
<div class="footer">Copyright © zust</div>



<script>
function login(){
	$.ajax({
		url:'/cs/login',
		type:'POST', //GET
		async:true,    //或false,是否异步
		data:{
			name:$("#name")[0].value,
			password:$("#password")[0].value
		},
		timeout:5000, 
		dataType:'json',    
		success:function(data){
			if(data){
				location.href="/csindex.html"
			}else{
				$("#tishi")[0].innerHTML="用户名或密码错误，请重新输入！";
			}
			
		},
		error:function(xhr,textStatus){
			$("#tishi")[0].innerHTML="用户名或密码错误，请重新输入！";
		},
		complete:function(){
			console.log('结束')
		}
	})
}
</script>
</body>
</html>
