<html class=" js csstransforms3d js csstransforms3d"><head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>超管－超管</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/page.css">
	<!--[if lte IE 8]>
	<link href="css/ie8.css" rel="stylesheet" type="text/css"/>
	<![endif]-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<!--[if IE]>
	<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>

<body style="background: #f6f5fa;">
<!--content S-->
<div class="super-content RightMain" id="RightMain">


	<!--header-->
	<div class="superCtab">
		<div class="cg-title clearfix">
			<!--<a href="javascript:;" class="default-add-btn newPdBtn"><i class="ico-add"></i>新建频道</a>-->
			<div class="searchBar">
				<input type="text" id="" value="" class="form-control srhTxt" placeholder="输入标题关键字搜索">
				<input type="button" class="srhBtn" value="">
			</div>
		</div>
		<div class="cgsuperCtab">
			<div class="Mian-cont-wrap">
				<div class="defaultTab-T">
					<table border="0" cellspacing="0" cellpadding="0" class="defaultTable">
						<tbody><tr><th class="td_6">用户ID</th><th class="td_7">用户名称</th><th class="td_8">用户身份证</th><th class="td_9">注册时间</th><th class="td_10">操作</th></tr>
						</tbody></table>
				</div>
				<table border="0" cellspacing="0" cellpadding="0" class="defaultTable defaultTable2">
					<tbody id="userbody">
					<!--<tr>-->
						<!--<td class="td_6">20150084</td>-->
						<!--<td class="td_7"><a href="#">太平洋人寿保险频道</a></td>-->
						<!--<td class="td_8">158</td>-->
						<!--<td class="td_9">1141</td>-->
						<!--<td class="td_10"><div class="btn"><a href="javascript:;" class="modify cg-xiugai-a">修改</a></div></td>-->
					<!--</tr>-->







					</tbody></table>
				<!--pages S-->
				<div class="pageSelect">
					每页 <b>10 </b>条   >
					<div class="pageWrap">
						<a class="pagePre" href="javascript:decrease()"><i class="ico-pre">&nbsp;</i></a>
						<a href="javascript:gotopage(1)" class="pagenumb">1</a>
						<a href="javascript:gotopage(2)" class="pagenumb">2</a>
						<a href="javascript:gotopage(3)" class="pagenumb">3</a>
						<a  class="pagenext" href="javascript:increase()"><i class="ico-next">&nbsp;</i></a>
					</div>
				</div>
				<!--pages E-->
			</div>

		</div>
	</div>
	<!--main-->

</div>
<!--content E-->

<div class="layuiBg"></div><!--公共遮罩-->
<!--点击新建频道弹出-->
<div class="addFeileibox layuiBox newPindaoBox">
	<div class="layer-title clearfix"><h2>新建频道</h2><span class="layerClose"></span></div>
	<div class="layer-content">
		<dl class="PD-list clearfix">
			<dt>频道名称：</dt>
			<dd><input type="text" class="txt">
				<div class="errortip"><i class="ico-error"></i>您所输入账户格式不正确，请重新输入！</div>
			</dd>
		</dl>
		<dl class="PD-list clearfix">
			<dt>高级管理员账户：</dt>
			<dd><input type="text" class="txt">
				<div class="errortip"><i class="ico-error"></i>您所输入账户格式不正确，请重新输入！</div>
			</dd>
		</dl>
		<dl class="PD-list clearfix">
			<dt>普通管理员账户：</dt>
			<dd><input type="text" class="txt">
				<div class="errortip"><i class="ico-error"></i>您所输入账户格式不正确，请重新输入！</div>
			</dd>
		</dl>
		<dl class="PD-list clearfix">
			<dt>绑定域名：</dt>
			<dd><input type="text" class="txt">
				<div class="errortip"><i class="ico-error"></i>您所输入账户格式不正确，请重新输入！</div>
			</dd>
		</dl>
		<dl class="PD-list clearfix">
			<input type="button" value="保存" class="saveBtn">
		</dl>
	</div>
</div>
<!--点击修改弹出-->
<div class="xcXgBox layuiBox newPindaoBox newPindaoBox-xg">
	<div class="layer-title clearfix"><h2>修改</h2><span class="layerClose"></span></div>
	<div class="layer-content">
		<dl class="PD-list clearfix">
			<dt>修改频道名称：</dt>
			<dd><input type="text" class="txt">
				<div class="errortip"><i class="ico-error"></i>您所输入账户格式不正确，请重新输入！</div>
			</dd>
		</dl>
		<dl class="PD-list clearfix">
			<dt>修改账户：</dt>
			<dd><input type="text" class="txt">
				<div class="errortip"><i class="ico-error"></i>您所输入账户格式不正确，请重新输入！</div>
			</dd>
		</dl>
		<dl class="PD-list clearfix">
			<dt>修改普通管理员账户：</dt>
			<dd><input type="text" class="txt">
				<div class="errortip"><i class="ico-error"></i>您所输入账户格式不正确，请重新输入！</div>
			</dd>
		</dl>
		<dl class="PD-list clearfix">
			<dt>绑定域名：</dt>
			<dd><input type="text" class="txt">
				<div class="errortip"><i class="ico-error"></i>您所输入账户格式不正确，请重新输入！</div>
			</dd>
		</dl>
		<dl class="PD-list clearfix">
			<input type="button" value="保存" class="saveBtn">
		</dl>
	</div>
</div>



<script type="text/javascript">

    var pageSize="2";
    var userId="";
    var page=1;



    function deleteUser(Id) {

        fetch("/user/deleteUser?id="+Id).then(function (response) {
            return response.json().then(function (json) {

                alert("删除成功"+json)

                window.location.reload()
            });
        })
    }

    $("#updateUser").click(
        function () {
            var formData = new FormData();

            // 请求参数 ('key',value)
            formData.append('question', $("#questionNew").val());
            formData.append('answer',$("#answerNew").val());
            formData.append('id',QAId);

            fetch("/know/updateKnow",{
                method:'POST',
                body:formData,

            }).then(function (response)

            {
                return response.json().then(function (json) {
                    alert("修改成功")
                    window.location.reload()
                });
            })
        }
    )



    function changePage(pageNum){

        fetch("/user/userList?pageNum="+pageNum+"&pageSize="+pageSize+"").then(function (response) {
            return response.json().then(function (json) {
                page=pageNum;
                $("#userbody").html("")
                for (i = 0; i < json.length; i++) {
                    // do something more...

                    $("#userbody").append("<tr>"+
                        "<td class='td_6'>"+json[i].id+"</td>"+
                        " <td class='td_7'><a href=''>"+json[i].name+"</a></td>"+
                        "<td class='td_8' >"+json[i].idcard+"</td>"+
                        "<td class='td_9' >"+json[i].registerTime+"</td>"+
                        "<td class='td_10'><div class='btn'><a href='javascript:deleteUser("+json[i].id+")'class='delete'>删</a></div></td>"+
                        "</tr>"
                    )
                }
            });
        })

    }

    $(document).ready(function () {

        changePage(1)
        clickpage()
    })

    $("#saveKnow").click(
        function () {
            var formData = new FormData();

            // 请求参数 ('key',value)
            formData.append('question', $("#question").val());
            formData.append('answer',$("#answer").val());


            fetch("/know/saveKnow",{
                method:'POST',
                body:formData,

            }).then(function (response)

            {
                return response.json().then(function (json) {
                    alert("添加成功")
                    window.location.reload()
                });
            })
        }
    )
</script>
<script type="text/javascript">

    function decrease() {
        if (page>1){
            page=page-1
            changePage(page)
        }
        clickpage()
    }
    function increase() {

        page=page+1;
        changePage(page)
        clickpage()
    }
    function clickpage() {
        $(".pagenumb").each(function(){
            if ($(this).html()==page){
                $(this).attr("class","pagenumb cur")
            }
            else {
                $(this).attr("class","pagenumb")
            }
        });
    }
    function gotopage( a) {
        page=a
        changePage(page)
        clickpage(page)

    }
</script>


</body></html>